<%- include('partials/header'); -%>

  <h1><%= userName %>'s Cart</h1>

  <div class="container text-left">
    
    <% itemsInCart.forEach(item => { %>
    <div class="row">
      <div class="col-2">
        <img src="<%= item.productImg%>">
      </div>
      <div class="col-8">
        <h5><%= item.productName %></h5>
        <p>Travel Date: <%= item.travelDate %></p>
        <p>No. of Travellers:<%= item.totalPax %></p>
      </div>
      <div class="col-2">Total Price: <%= item.totalPrice%></div>
      <form method="POST" action="/cart/<%= cartId %>/lineItems/<%= item._id%>?_method=DELETE">
        <button type="submit">Delete from Cart</button>
      </form>  
    </div>

    <!--
    <form method="POST" action="/cart?_method=DELETE">
      <button type="submit">Delete from Cart</button>
    </form>  
    -->

    <% }) %>
  </div>
  
<%- include('partials/footer'); -%>