<%- include('partials/header'); -%>

  <h1>Cart</h1>

  <div class="container text-left">
    <div class="row">
      <div class="col-2">
        <img src="../clipart4703492.png">
      </div>
      <div class="col-8">
        <p>Saturn</p>
        <p>Travel Date: 2022-10-02</p>
        <p>No. of Travellers: 2</p>
      </div>
      <div class="col-2">Total Price: 1000</div>
    </div>

    <div class="row">
      <div class="col-2">
        <img src="../clipart4703492.png">
      </div>
      <div class="col-8">
        <p><%= itemsInCart[0].productName %></p>
        <p>Travel Date: <%= itemsInCart[0].travelDate %></p>
        <p>No. of Travellers:<%= itemsInCart[0].totalPax %></p>
      </div>
      <div class="col-2">Total Price: <%= itemsInCart[0].totalPrice%></div>
    </div>
  </div>

  

<%- include('partials/footer'); -%>