<%- include('partials/header'); -%>

  <div class="container-fluid">
    <div class="row" id="show-cart">

      <h1><%= userName %>'s cart</h1>
  
    <% if(itemsInCart.length === 0) { %>
      <p>Your cart is empty</p>
      <% } else { %>
    
    <% itemsInCart.forEach(item => { %>
    <div class="row" id="show-cart-item">
      <div class="col-md-2">
        <img src="<%= item.productImg%>">
      </div>
      <div class="col-md-8">
        <h5><%= item.productName %></h5>
        <p>Travel Date: <%= item.travelDate %></p>
        <p>No. of Travellers: <%= item.totalPax %></p>
      </div>
      <div class="col-md-2">
        <p>Total Price: $<%= item.totalPrice %></p>
        <form method="POST" action="/cart/<%= cartId %>/lineItems/<%= item._id%>?_method=DELETE">
          <button type="submit">Delete from Cart</button>
        </form>  
      </div>
    </div>
    <% }) %>

    <% } %>

  </div>
  
<%- include('partials/footer'); -%>